<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav>
        <h2 style="display: inline;" >CASE STUDY</h2>
        <a class="nav-link" href="./deleteemployee.html">Delete Employee</a>
        <a class="nav-link" href="./searchemployee.html">Search Employee</a>
        <a class="nav-link" href="./updateemployee.html">Update Employee</a>
        <a class="nav-link" href="./addemployee.html">Add Employee</a>
    </nav>

    <div class="main" style="margin-top: 10%;">
    <h2>Search Employee</h2>
    <form action="backend.php">
        <label for="empSea">Choose a field to search</label>
        <select name="empSea" id="empSea">
            <option value="empId">Employee ID</option>
            <option value="empNam">Employee Name</option>
            <option value="empAge">Employee Age</option>
        </select>
        <br><br>

        <label for="searchtext">Enter keyword to search </label>
        <input type="text" name="searchtext" id="searchtext">
        <br><br>
        <div>
            <input type="button" value="Search Employee">
        </div>
    </form>
    </div>

    <footer>
        Case study by Team 4
    </footer>
</body>

</html>
