<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav>
        <h2 style="display: inline;" >CASE STUDY</h2>
        <a class="nav-link" href="./deleteemployee.html">Delete Employee</a>
        <a class="nav-link" href="./searchemployee.html">Search Employee</a>
        <a class="nav-link" href="./updateemployee.html">Update Employee</a>
        <a class="nav-link" href="./addemployee.html">Add Employee</a>
    </nav>

    <div class="main" style="margin-top: 8%;">
    <h2>Details of Employee 1575634</h2>
    <P>Full Name: <b>John Doe</b></P>
    <P>Email: <b>john.doe@company.com</b></P>
    <P>Mobile Number: <b>+91-84525654197</b></P>
    <P>Date of Birth: <b>14 Nov, 1998</b></P>
    <P>Address: <b>1st Block 1st Cross, Pune, Maharashtra</b></P>
    <div>
        <input type="button" value="Update Details">
    </div>
    </div>

    <footer>
        Case study by Team 4
    </footer>
</body>

</html>
